This Notebook takes CSV file of ATP Data and Divides this Data into several CSV files.
This several CSV files will help us to create a perfect minimalized Database using MySql.

The minimalized CSV files are created using Database Concepts.

In [10]:
import csv
import pandas as pd

In [11]:
# Reading Data using Pandas 
data = pd.read_csv("ATP.csv")

In [12]:
# We are dropping data before year 2000. (As Data after 2000 is very accurate as compared to before 2000)
arr = []
for i in range(110457):
    arr.append(i)

In [13]:
data = data.drop(arr)
data

# Visualization of our Data

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
110457,2000-717,Orlando,Clay,32,A,20000501,1,102179,NaN,NaN,...,15,13,4,110,59,49,31,17,4,4
110458,2000-717,Orlando,Clay,32,A,20000501,2,103602,NaN,Q,...,6,0,0,57,24,13,17,10,4,9
110459,2000-717,Orlando,Clay,32,A,20000501,3,103387,NaN,NaN,...,0,2,2,65,39,22,10,8,6,10
110460,2000-717,Orlando,Clay,32,A,20000501,4,101733,NaN,NaN,...,12,4,6,104,57,35,24,15,6,11
110461,2000-717,Orlando,Clay,32,A,20000501,5,101727,4,NaN,...,1,0,3,47,28,17,10,8,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163961,2017-M-DC-2017-WG-M-RUS-SRB-01,Davis Cup WG R1: RUS vs SRB,Hard,4,D,20170203,5,106421,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163962,2017-M-DC-2017-WG-M-SUI-USA-01,Davis Cup WG R1: SUI vs USA,Hard,4,D,20170203,1,106058,NaN,NaN,...,4,4,5,82,52,38,9,13,7,12
163963,2017-M-DC-2017-WG-M-SUI-USA-01,Davis Cup WG R1: SUI vs USA,Hard,4,D,20170203,2,104545,NaN,NaN,...,9,7,9,113,76,53,17,19,7,11
163964,2017-M-DC-2017-WG-M-SUI-USA-01,Davis Cup WG R1: SUI vs USA,Hard,4,D,20170203,4,105023,NaN,NaN,...,0,3,2,76,42,30,14,10,8,10
163965,2017-M-DC-2017-WG-M-SUI-USA-01,Davis Cup WG R1: SUI vs USA,Hard,4,D,20170203,5,105449,NaN,NaN,...,4,1,2,54,27,15,15,9,2,6

In [14]:
# Printing All the features of our Data
i = 0
for col in data.columns: 
    print(i, col)
    i = i+1

0 tourney_id
1 tourney_name
2 surface
3 draw_size
4 tourney_level
5 tourney_date
6 match_num
7 winner_id
8 winner_seed
9 winner_entry
10 winner_name
11 winner_hand
12 winner_ht
13 winner_ioc
14 winner_age
15 winner_rank
16 winner_rank_points
17 loser_id
18 loser_seed
19 loser_entry
20 loser_name
21 loser_hand
22 loser_ht
23 loser_ioc
24 loser_age
25 loser_rank
26 loser_rank_points
27 score
28 best_of
29 round
30 minutes
31 w_ace
32 w_df
33 w_svpt
34 w_1stIn
35 w_1stWon
36 w_2ndWon
37 w_SvGms
38 w_bpSaved
39 w_bpFaced
40 l_ace
41 l_df
42 l_svpt
43 l_1stIn
44 l_1stWon
45 l_2ndWon
46 l_SvGms
47 l_bpSaved
48 l_bpFaced

In [15]:
tt2 = data[['tourney_id', 'match_num','round', 'winner_id', 'winner_rank', 'winner_rank_points','winner_entry', 'winner_seed', 'loser_id', 'loser_rank', 'loser_rank_points', 'loser_entry', 'loser_seed' ]]

In [16]:
tt2

# Creating our 1st minimal Data. (We have dropped some features here suitably)

,tourney_id,match_num,round,winner_id,winner_rank,winner_rank_points,winner_entry,winner_seed,loser_id,loser_rank,loser_rank_points,loser_entry,loser_seed
110457,2000-717,1,R32,102179,113,351,NaN,NaN,102776,50,762,NaN,1
110458,2000-717,2,R32,103602,352,76,Q,NaN,102821,139,280,WC,NaN
110459,2000-717,3,R32,103387,103,380,NaN,NaN,102205,133,293,NaN,NaN
110460,2000-717,4,R32,101733,107,371,NaN,NaN,102925,95,408,NaN,8
110461,2000-717,5,R32,101727,74,543,NaN,4,101826,111,357,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
163961,2017-M-DC-2017-WG-M-RUS-SRB-01,5,RR,106421,63,749,NaN,NaN,102800,NaN,NaN,NaN,NaN
163962,2017-M-DC-2017-WG-M-SUI-USA-01,1,RR,106058,20,1855,NaN,NaN,103843,146,414,NaN,NaN
163963,2017-M-DC-2017-WG-M-SUI-USA-01,2,RR,104545,23,1715,NaN,NaN,105967,127,473,NaN,NaN
163964,2017-M-DC-2017-WG-M-SUI-USA-01,4,RR,105023,27,1435,NaN,NaN,104847,485,78,NaN,NaN
163965,2017-M-DC-2017-WG-M-SUI-USA-01,5,RR,105449,31,1345,NaN,NaN,134472,598,52,NaN,NaN

In [11]:
# Creating CSV file

tt2.to_csv('match_info.csv', index = 'false')

In [6]:
# Creating 2nd Table of our Data

tt3 = data[['tourney_id', 'match_num', 'winner_name', 'winner_age', 'winner_ioc', 'winner_ht' ,'winner_hand', 'loser_name', 'loser_age', 'loser_ioc', 'loser_ht', 'loser_hand']]

In [7]:
tt3

,tourney_id,match_num,winner_name,winner_age,winner_ioc,winner_ht,winner_hand,loser_name,loser_age,loser_ioc,loser_ht,loser_hand
110457,2000-717,1,Antony Dupuis,27.1814,FRA,185,R,Andrew Ilie,24.0356,AUS,180,R
110458,2000-717,2,Fernando Gonzalez,19.7563,CHI,183,R,Cecil Mamiit,23.8439,PHI,173,R
110459,2000-717,3,Paradorn Srichaphan,20.8816,THA,185,R,Sebastien Lareau,27.0116,CAN,183,R
110460,2000-717,4,Jan Siemerink,30.0479,NED,183,L,Justin Gimelstob,23.2608,USA,196,R
110461,2000-717,5,Jason Stoltenberg,30.0753,AUS,185,R,Alex Lopez Moron,29.4237,ESP,175,R
...,...,...,...,...,...,...,...,...,...,...,...,...
163961,2017-M-DC-2017-WG-M-RUS-SRB-01,5,Daniil Medvedev,20.9692,RUS,NaN,R,Nenad Zimonjic,40.6571,SRB,190,R
163962,2017-M-DC-2017-WG-M-SUI-USA-01,1,Jack Sock,24.3504,USA,185,R,Marco Chiudinelli,35.3895,SUI,185,R
163963,2017-M-DC-2017-WG-M-SUI-USA-01,2,John Isner,31.7645,USA,206,R,Henri Laaksonen,24.835,SUI,NaN,R
163964,2017-M-DC-2017-WG-M-SUI-USA-01,4,Sam Querrey,29.3169,USA,198,R,Adrien Bossel,30.0917,SUI,NaN,L
163965,2017-M-DC-2017-WG-M-SUI-USA-01,5,Steve Johnson,27.102,USA,188,R,Antoine Bellier,20.2847,SUI,NaN,U

In [8]:
# Converting to CSV

tt3.to_csv('extra_info.csv', index = 'false')

In [17]:
# Similarly as above.

tt4 = data[['tourney_id', 'match_num', 'minutes', 'score', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon','w_SvGms','w_bpSaved','w_bpFaced', 'l_ace','l_df','l_svpt','l_1stIn','l_1stWon','l_2ndWon','l_SvGms','l_bpSaved','l_bpFaced']]

In [18]:
tt4

,tourney_id,match_num,minutes,score,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
110457,2000-717,1,162,3-6 7-6(6) 7-6(4),8,1,126,76,56,29,...,15,13,4,110,59,49,31,17,4,4
110458,2000-717,2,86,6-2 7-5,4,2,67,35,25,16,...,6,0,0,57,24,13,17,10,4,9
110459,2000-717,3,64,6-1 6-3,4,1,46,29,23,11,...,0,2,2,65,39,22,10,8,6,10
110460,2000-717,4,150,4-6 6-2 7-5,8,6,109,56,43,21,...,12,4,6,104,57,35,24,15,6,11
110461,2000-717,5,60,6-1 6-4,3,0,50,27,22,16,...,1,0,3,47,28,17,10,8,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163961,2017-M-DC-2017-WG-M-RUS-SRB-01,5,NaN,Walkover,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163962,2017-M-DC-2017-WG-M-SUI-USA-01,1,118,6-4 6-3 6-1,12,1,83,50,37,22,...,4,4,5,82,52,38,9,13,7,12
163963,2017-M-DC-2017-WG-M-SUI-USA-01,2,164,4-6 6-2 6-2 7-6(1),28,0,139,90,68,25,...,9,7,9,113,76,53,17,19,7,11
163964,2017-M-DC-2017-WG-M-SUI-USA-01,4,73,6-3 7-5,16,4,58,35,31,14,...,0,3,2,76,42,30,14,10,8,10
163965,2017-M-DC-2017-WG-M-SUI-USA-01,5,60,6-4 6-3,5,0,46,34,26,9,...,4,1,2,54,27,15,15,9,2,6

In [19]:
tt4.to_csv('stats.csv', index = 'false')

So, Finally our minimalized Data is created.

Now using MySql we can convert this CSV files into MYSql Tables.